---
version: "2.3"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    restart: always
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2

  broker1:
    image: confluentinc/cp-kafka:latest
    restart: always
    hostname: broker1
    container_name: broker1
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 19092:19092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker1:9092,PLAINTEXT_HOST://localhost:19092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  schemaregistry:
    image: confluentinc/cp-schema-registry:latest
    container_name: schemaregistry
    restart: always
    depends_on:
      - zookeeper
      - broker1
    volumes:
      - ${KAFKA_SSL_SECRETS_DIR}:/etc/kafka/secrets
    ports:
      - 8081:8081
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: broker1:9092
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: zookeeper:2181
      SCHEMA_REGISTRY_HOST_NAME: schemaregistry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_DEBUG: 'true'
  database:
    image: fabrictestbed/postgres:12.3
    container_name: database
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ${PGDATA_HOST:-.}/pg_data/data:${PGDATA:-/var/lib/postgresql/data}
      - ${PGDATA_HOST:-.}/pg_data/logs:${POSTGRES_INITDB_WALDIR:-/var/log/postgresql}
    environment:
       - POSTGRES_HOST=${POSTGRES_HOST:-database}
       - POSTGRES_PORT=5432
       - POSTGRES_MULTIPLE_DATABASES=${POSTGRES_DB:-postgres}
       - POSTGRES_USER=${POSTGRES_USER:-postgres}
       - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-fabric}
       - PGDATA=${PGDATA:-/var/lib/postgresql/data}
  neo4j1:
    image: fabrictestbed/neo4j-apoc:5.3.0
    container_name: neo4j1
    user: ${NEO4J_UID:-1000}:${NEO4J_GID:-1000}
    restart: always
    ports:
      - 7474:7474  # for HTTP
      - 7473:7473  # for HTTPS
      - 7687:7687  # for Bolt
    volumes:
      - ${NEO4DATA_HOST:-.}/neo4j1/data:/data
      - ${NEO4DATA_HOST:-.}/neo4j1/imports:/imports
      - ${NEO4DATA_HOST:-.}/neo4j1/logs:/logs
      - ./neo4j/certs/fullchain.pem:/ssl/neo4j.cert:ro  # SSL development certificate
      - ./neo4j/certs/privkey.pem:/ssl/neo4j.key:ro     # SSL development key
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASS:-password}
      - NEO4J_server_bolt_advertised__address=:7687
      - NEO4J_server_bolt_listen__address=:7687
      - NEO4J_server_http_advertised__address=:7474
      - NEO4J_server_http_listen__address=:7474
      - NEO4J_server_https_advertised__address=:7473
      - NEO4J_server_https_listen__address=:7473
  neo4j2:
    image: fabrictestbed/neo4j-apoc:5.3.0
    container_name: neo4j2
    user: ${NEO4J_UID:-1000}:${NEO4J_GID:-1000}
    restart: always
    ports:
      - 8474:8474  # for HTTP
      - 8473:8473  # for HTTPS
      - 8687:8687  # for Bolt
    volumes:
      - ${NEO4DATA_HOST:-.}/neo4j2/data:/data
      - ${NEO4DATA_HOST:-.}/neo4j2/imports:/imports
      - ${NEO4DATA_HOST:-.}/neo4j2/logs:/logs
      - ./neo4j/certs/fullchain.pem:/ssl/neo4j.cert:ro  # SSL development certificate
      - ./neo4j/certs/privkey.pem:/ssl/neo4j.key:ro     # SSL development key
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASS:-password}
      - NEO4J_server_bolt_advertised__address=:8687
      - NEO4J_server_bolt_listen__address=:8687
      - NEO4J_server_http_advertised__address=:8474
      - NEO4J_server_http_listen__address=:8474
      - NEO4J_server_https_advertised__address=:8473
      - NEO4J_server_https_listen__address=:8473
  neo4j3:
    image: fabrictestbed/neo4j-apoc:5.3.0
    container_name: neo4j3
    user: ${NEO4J_UID:-1000}:${NEO4J_GID:-1000}
    restart: always
    ports:
      - 9474:9474  # for HTTP
      - 9473:9473  # for HTTPS
      - 9687:9687  # for Bolt
    volumes:
      - ${NEO4DATA_HOST:-.}/neo4j3/data:/data
      - ${NEO4DATA_HOST:-.}/neo4j3/imports:/imports
      - ${NEO4DATA_HOST:-.}/neo4j3/logs:/logs
      - ./neo4j/certs/fullchain.pem:/ssl/neo4j.cert:ro  # SSL development certificate
      - ./neo4j/certs/privkey.pem:/ssl/neo4j.key:ro     # SSL development key
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASS:-password}
      - NEO4J_server_bolt_advertised__address=:9687
      - NEO4J_server_bolt_listen__address=:9687
      - NEO4J_server_http_advertised__address=:9474
      - NEO4J_server_http_listen__address=:9474
      - NEO4J_server_https_advertised__address=:9473
      - NEO4J_server_https_listen__address=:9473
  neo4j4:
    image: fabrictestbed/neo4j-apoc:5.3.0
    container_name: neo4j4
    user: ${NEO4J_UID:-1000}:${NEO4J_GID:-1000}
    restart: always
    ports:
      - 6474:6474  # for HTTP
      - 6473:6473  # for HTTPS
      - 6687:6687  # for Bolt
    volumes:
      - ${NEO4DATA_HOST:-.}/neo4j4/data:/data
      - ${NEO4DATA_HOST:-.}/neo4j4/imports:/imports
      - ${NEO4DATA_HOST:-.}/neo4j4/logs:/logs
      - ./neo4j/certs/fullchain.pem:/ssl/neo4j.cert:ro  # SSL development certificate
      - ./neo4j/certs/privkey.pem:/ssl/neo4j.key:ro     # SSL development key
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASS:-password}
      - NEO4J_server_bolt_advertised__address=:6687
      - NEO4J_server_bolt_listen__address=:6687
      - NEO4J_server_http_advertised__address=:6474
      - NEO4J_server_http_listen__address=:6474
      - NEO4J_server_https_advertised__address=:6473
      - NEO4J_server_https_listen__address=:6473
  neo4j5:
    image: fabrictestbed/neo4j-apoc:5.3.0
    container_name: neo4j5
    user: ${NEO4J_UID:-1000}:${NEO4J_GID:-1000}
    restart: always
    ports:
      - 10474:10474  # for HTTP
      - 10473:10473  # for HTTPS
      - 10687:10687  # for Bolt
    volumes:
      - ${NEO4DATA_HOST:-.}/neo4j5/data:/data
      - ${NEO4DATA_HOST:-.}/neo4j5/imports:/imports
      - ${NEO4DATA_HOST:-.}/neo4j5/logs:/logs
      - ./neo45/certs/fullchain.pem:/ssl/neo4j.cert:ro  # SSL development certificate
      - ./neo45/certs/privkey.pem:/ssl/neo4j.key:ro     # SSL development key
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASS:-password}
      - NEO4J_server_bolt_advertised__address=:10687
      - NEO4J_server_bolt_listen__address=:10687
      - NEO4J_server_http_advertised__address=:10474
      - NEO4J_server_http_listen__address=:10474
      - NEO4J_server_https_advertised__address=:10473
      - NEO4J_server_https_listen__address=:10473
  cf-base:
    build:
      context: .
      dockerfile: Dockerfile-cf
    image: controlframework:latest
  am:
    image: controlframework:latest
    container_name: site1-am
    restart: always
    depends_on:
      - neo4j1
    ports:
      - 11003:11000
    volumes:
      - ./authority.sh:/usr/src/app/docker-entrypoint.sh
      - ${NEO4DATA_HOST:-.}/neo4j1:/usr/src/app/neo4j
      - ./fabric_cf/aits/config/config.siteam.yaml:/etc/fabric/actor/config/config.yaml
      - ./neo4j/RENCI-ad.graphml:/etc/fabric/actor/config/neo4j/arm.graphml
      - ${AITS_LOG_DIR:-.}/fabric_cf/aits/siteam-logs/:/var/log/actor
      - ./secrets/snakeoil-ca-1.crt:/etc/fabric/message_bus/ssl/cacert.pem
      - ./secrets/kafkacat1.client.key:/etc/fabric/message_bus/ssl/client.key
      - ./secrets/kafkacat1-ca1-signed.pem:/etc/fabric/message_bus/ssl/client.pem
  netam:
    image: controlframework:latest
    container_name: net1-am
    restart: always
    depends_on:
      - neo4j4
    ports:
      - 11004:11000
    volumes:
      - ./authority.sh:/usr/src/app/docker-entrypoint.sh
      - ${NEO4DATA_HOST:-.}/neo4j4:/usr/src/app/neo4j
      - ./fabric_cf/aits/config/config.netam.yaml:/etc/fabric/actor/config/config.yaml
      - ./neo4j/Network-ad.graphml:/etc/fabric/actor/config/neo4j/arm.graphml
      - ${AITS_LOG_DIR:-.}/fabric_cf/aits/netam-logs/:/var/log/actor
      - ./secrets/snakeoil-ca-1.crt:/etc/fabric/message_bus/ssl/cacert.pem
      - ./secrets/kafkacat1.client.key:/etc/fabric/message_bus/ssl/client.key
      - ./secrets/kafkacat1-ca1-signed.pem:/etc/fabric/message_bus/ssl/client.pem
  broker:
    image: controlframework:latest
    container_name: broker
    restart: always
    depends_on:
      - neo4j2
    ports:
      - 11001:11000
    volumes:
      - ./broker.sh:/usr/src/app/docker-entrypoint.sh
      - ${NEO4DATA_HOST:-.}/neo4j2:/usr/src/app/neo4j
      - ./fabric_cf/aits/config/config.broker.yaml:/etc/fabric/actor/config/config.yaml
      - ${AITS_LOG_DIR:-.}/fabric_cf/aits/broker-logs/:/var/log/actor
      - ./secrets/snakeoil-ca-1.crt:/etc/fabric/message_bus/ssl/cacert.pem
      - ./secrets/kafkacat1.client.key:/etc/fabric/message_bus/ssl/client.key
      - ./secrets/kafkacat1-ca1-signed.pem:/etc/fabric/message_bus/ssl/client.pem
  orchestrator:
    image: controlframework:latest
    container_name: orchestrator
    restart: always
    depends_on:
      - neo4j3
    ports:
      - 8700:8700
      - 11002:11000
    volumes:
      - ./orchestrator.sh:/usr/src/app/docker-entrypoint.sh
      - ${NEO4DATA_HOST:-.}/neo4j3:/usr/src/app/neo4j
      - ./fabric_cf/aits/config/config.orchestrator.yaml:/etc/fabric/actor/config/config.yaml
      - ${AITS_LOG_DIR:-.}/fabric_cf/aits/orch-logs/:/var/log/actor
      - ./secrets/snakeoil-ca-1.crt:/etc/fabric/message_bus/ssl/cacert.pem
      - ./secrets/kafkacat1.client.key:/etc/fabric/message_bus/ssl/client.key
      - ./secrets/kafkacat1-ca1-signed.pem:/etc/fabric/message_bus/ssl/client.pem
  pdp:
    image: fabrictestbed/authzforce-pdp:6.1.0
    container_name: pdp
    restart: always
    user: ${PDP_UID:-1000}:${PDP_GID:-1000}
    ports:
      - 8080:8080
    volumes:
      - ${PDP_NEW_CONF_PATH_HOST:-./newconf}:/conf
      - ${PDP_NEW_POLICIES_PATH_HOST:-./newpolicies}:/policies
