yapsy
setuptools
requests
PyJWT
cryptography
psycopg2-binary
sqlalchemy
pyyaml
fabric-message-bus
fabric-fim
click
confluent-kafka[avro]
waitress
prometheus_client
connexion
swagger-ui-bundle
fabric_fss_utils