requests==2.27.1
cryptography==3.3.2
psycopg2-binary
sqlalchemy
waitress
prometheus_client
connexion==2.7.0
swagger-ui-bundle
fabric_fss_utils==1.2.1
PyYAML==5.4
astroid==2.4.2
typing-extensions==3.7.4.3
six==1.15.0
wrapt==1.12.1
fabric-message-bus==1.2.3
fabric-fim==1.2.3
